# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
*/dist
*/tmp
*/out-tsc

# dependencies
*/node_modules
*/PhantomJS_2.1.1_(Windows_7_0.0.0)
*/Chrome_60.0.3112_(Windows_7_0.0.0)
*/e2e
*/coverage
*/Chrome_61.0.3163_(Windows_7_0.0.0)

# IDEs and editors
*/.idea
*/.project
*/.classpath
*/.c9/
*/*.launch
*/.settings/
*/*.sublime-workspace

# IDE - VSCode
*/.vscode/*
*/!.vscode/settings.json
*/!.vscode/tasks.json
*/!.vscode/launch.json
*/!.vscode/extensions.json

# misc
*/.sass-cache
*/connect.lock
*/coverage
*/libpeerconnection.log
*/npm-debug.log
*/testem.log
*/typings

# e2e
*/e2e/*.js
*/e2e/*.map

# System Files
*/.DS_Store
*/Thumbs.db

